<%= form_for(@photo) do |f| %>
  <% if @photo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@photo.errors.count, "error") %> prohibited this photo from being saved:</h2>

      <ul>
      <% @photo.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :prey_common %><br />
    <%= f.text_field :prey_common %>
  </div>
  <div class="field">
    <%= f.label :prey_latin %><br />
    <%= f.text_field :prey_latin %>
  </div>
  <div class="field">
    <%= f.label :bird_common %><br />
    <%= f.text_field :bird_common %>
  </div>
  <div class="field">
    <%= f.label :bird_latin %><br />
    <%= f.text_field :bird_latin %>
  </div>
  <div class="field">
    <%= f.label :location_friendly %><br />
    <%= f.text_field :location_friendly %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
